@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-rgb: 237 245 255;
  --green-rgb: 125 161 35;
}

.light {
  @apply text-gray-800 bg-slate-300/30;
}

.dark {
  @apply text-gray-200 bg-gray-700;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {

  @apply bg-gray-600 w-3;
}

::-webkit-scrollbar-thumb {

  @apply bg-violet-900 rounded-md;
}

body {
  font-family: Poppins, sans-serif;
}

// body:has(.card[data-color="blue"]:hover) {
//   background-color: rgb(var(--blue-rgb) / 25%);
// }

// body:has(.card[data-color="green"]:hover) {
//   background-color: rgb(var(--green-rgb) / 25%);
// }

@layer utilities {

  .btn {
    @apply text-white bg-gradient-to-r from-[#00c6ff] to-[#0072ff] focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center;
  }

  .header {
    @apply flex justify-between items-center sm:px-16 px-8 py-4 max-w-5xl mx-auto absolute top-0 bg-transparent z-10 right-0 left-0;
  }

}

.glassmorphism {
  background: rgba(8, 116, 239, 0.07);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 7px 14px, rgba(0, 0, 0, 0.22) 0px 5px 5px;
}

.logo {
  border-radius: 8.889px;
  background: #fff;
  box-shadow: 0px 10px 35px -4px rgba(67, 83, 255, 0.15),
    0px 1.5px 4px -1px rgba(67, 83, 255, 0.2);
}



.icon-scroll,
.icon-scroll:before {
  position: relative;
}

.icon-scroll {
  width: 30px;
  height: 50px;
  box-shadow: inset 0 0 0 1px #161616;
  border-radius: 25px;
}

.icon-scroll:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: #141414;
  margin-left: 12px;
  top: 0px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

// .card-box {
//     box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
// }

@keyframes scroll {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
    transform: translateY(42px);
  }
}

.social {
  a {
    @apply rounded-lg;

    svg {
      transition: all 0.2s ease;
    }

    &:active {
      transform: translate(2px, 2px);
    }

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;

      svg {
        scale: 1.1;
      }

      .facebook {
        svg {
          @apply text-[#4267B2];
        }
      }

      .github {
        svg {
          @apply text-[#333];
        }
      }

      .linked {
        svg {
          @apply text-[#0077B5];
        }
      }

      .twitter {
        svg {
          @apply text-[#1DA1F2];
        }
      }

      .tiktok {
        svg {
          @apply text-[#000000];
        }
      }
    }

    .insta {
      color: white;
      background: radial-gradient(circle at 30% 107%,
          #fdf497 0%,
          #fdf497 5%,
          #fd5949 45%,
          #d6249f 60%,
          #285aeb 90%);

      @apply sm:bg-none sm:bg-gray-200 sm:text-black;

      &:hover {
        color: white;
        background: radial-gradient(circle at 30% 107%,
            #fdf497 0%,
            #fdf497 5%,
            #fd5949 45%,
            #d6249f 60%,
            #285aeb 90%);
      }
    }
  }
}

.animate-right {
  animation: rightbounce 0.5s ease-in-out infinite;
}

@keyframes rightbounce {

  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-6px);
  }
}